In [1]:
import pandas as pd

In [2]:
data = pd.read_excel(r'Azerbaijani_films.xlsx', engine='openpyxl')

In [3]:
data.head(10)

,Movie_name,Genre,Director,Writer,Painter,Firm,Type,Color,Runtime,Year
0,26 komissar,"tarixi, dram",Nikolay Şengelaya,"Aleksandr Rjeşevski, Nikolay Şengelaya, A. Ami...",Viktor Aden,Azərfilm,tammetrajlı bədii film,ağ-qara,78,1932
1,40-cı qapı,dram,Elçin Musaoğlu,Elçin Musaoğlu,Elxan Nəbiyev,Ritm Prodakşn,tammetrajlı bədii film,rəngli,81,2008
2,1001-ci qastrol,"komediya, musiqili",Oqtay Mirqasımov,"Vaqif Səmədoğlu, Oqtay Mirqasımov",Rafiz İsmayılov,"""Azərbaycanfilm"" kinostudiyası",tammetrajlı bədii film,rəngli,65,1974
3,Ad günü,dram,Rasim Ocaqov,Rüstəm İbrahimbəyov,Kamil Nəcəfzadə,"""Azərbaycanfilm"" kinostudiyası",tammetrajlı bədii film,rəngli,71,1977
4,Ağ atlı oğlan,"dram, döyüş, müharibə, uşaq",Ənvər Əbluc,"İsi Məlikzadə, Ənvər Əbluc",Nizami Bəydəmirov,"""Azərbaycanfilm"" kinostudiyası",tammetrajlı bədii film,NaN,64,1995
5,"""Ağ-qara"" gecələr",dram,Ayaz Salayev,"Ayaz Salayev, [1], Nadya Mağuli","İbrahimxəlil Aminov, Əziz Məmmədov","""Azərbaycanfilm"" kinostudiyası",tammetrajlı bədii film,rəngli,NaN,2013
6,Axırıncı aşırım,"dram, döyüş, macəra",Kamil Rüstəmbəyov,Fərman Kərimzadə,Nadir Zeynalov,"""Azərbaycanfilm"" kinostudiyası",tammetrajlı bədii film,ağ-qara,73,1971
7,Ailə,dram,"Rüstəm İbrahimbəyov, Ramiz Həsənoğlu",Rüstəm İbrahimbəyov,Şamil Nəcəfzadə,NaN,tammetrajlı bədii film,rəngli,103,1998
8,Aktrisa,"dram, cinayət, triller",Rövşən İsax,"İlqar Fəhmi, Rövşən İsax","Mustafa Mustafayev (dekorator rəssam), Gülnarə...","""Pozitiv Mediya"" Prodüser Mərkəzi",tammetrajlı bədii film,rəngli,97,2011
9,Alma almaya bənzər,"komediya, musiqili",Arif Babayev,Alla Axundova,Firəngiz Qurbanova,"""Azərbaycanfilm"" kinostudiyası",tammetrajlı bədii film,rəngli,81,1975

## Checking Duplicates and Missing rows

In [4]:
mask = data.duplicated()

In [5]:
data.loc[mask]

    Movie_name Genre Director Writer Painter Firm Type Color Runtime Year
66         NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
75         NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
126        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
133        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
141        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
161        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
167        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
176        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
192        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
205        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
222        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
223        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN
271        NaN   NaN      NaN    NaN     NaN  NaN  NaN   NaN     NaN  NaN

We don't have duplicates but have NaN values.

These NaNs come from the *continue* part of the code. If *tbody* doesn't exist, instead of giving error it ignores and continues process. In this case empty values were appended to the sheet.

In [6]:
# deleting these nan rows

In [7]:
indexs = data.loc[mask].index
print(list(indexs))

[66, 75, 126, 133, 141, 161, 167, 176, 192, 205, 222, 223, 271]

In [8]:
for idx in list(indexs):
    data.drop(idx, axis=0, inplace=True)

In [9]:
data.loc[data.duplicated()]

Empty DataFrame
Columns: [Movie_name, Genre, Director, Writer, Painter, Firm, Type, Color, Runtime, Year]
Index: []

## Data

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261 entries, 0 to 273
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie_name  260 non-null    object
 1   Genre       259 non-null    object
 2   Director    259 non-null    object
 3   Writer      256 non-null    object
 4   Painter     243 non-null    object
 5   Firm        219 non-null    object
 6   Type        246 non-null    object
 7   Color       255 non-null    object
 8   Runtime     244 non-null    object
 9   Year        220 non-null    object
dtypes: object(10)
memory usage: 22.4+ KB

### Handling NaNs in columns

In [11]:
data['Movie_name'].fillna('None', inplace=True)

In [12]:
data['Genre'].fillna('None', inplace=True)

In [13]:
data['Director'].fillna('None', inplace=True)

In [14]:
data['Writer'].fillna('None', inplace=True)

In [15]:
data['Painter'].fillna('None', inplace=True)

In [16]:
data['Firm'].fillna('None', inplace=True)

In [17]:
data['Type'].fillna('None', inplace=True)

In [18]:
data['Color'].fillna('None', inplace=True)

In [19]:
data['Year'].fillna('None', inplace=True)

### Runtime Column -> representing data in minutes

In [20]:
data['Runtime']

0        78
1        81
2        65
3        71
4        64
       ...
268      83
269    88,5
270      72
272    77,5
273      87
Name: Runtime, Length: 261, dtype: object

In [21]:
data['Runtime'] = data['Runtime'].apply(lambda x: str(x).replace(',','.'))   # cleaning ,

In [22]:
time = '01:28:04'   # in column we could have this type of data. Let's clean and change it into minute

In [23]:
data['Runtime'] = data['Runtime'].apply(lambda x: str(int(x.split(':')[0])*60+int(x.split(':')[1])) if ':' in x else x )

In [24]:
data['Runtime'] = data['Runtime'].astype('float64')  # runtime represented as object, but we need float type.

In [25]:
data['Runtime']

0      78.0
1      81.0
2      65.0
3      71.0
4      64.0
       ...
268    83.0
269    88.5
270    72.0
272    77.5
273    87.0
Name: Runtime, Length: 261, dtype: float64

In [26]:
# NaNs in runtime

In [27]:
median = data["Runtime"].median()

median

81.0

In [28]:
data["Runtime"].fillna(median, inplace=True)

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261 entries, 0 to 273
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie_name  261 non-null    object
 1   Genre       261 non-null    object
 2   Director    261 non-null    object
 3   Writer      261 non-null    object
 4   Painter     261 non-null    object
 5   Firm        261 non-null    object
 6   Type        261 non-null    object
 7   Color       261 non-null    object
 8   Runtime     261 non-null    float64
 9   Year        261 non-null    object
dtypes: float64(1), object(9)
memory usage: 22.4+ KB

In [30]:
data.to_csv('Cleaned_Data.csv')